/* WHOLE CONTAINER */

.container {
  background-image: url("../img/Black_background.jpg");
  width: 30rem;
  height: 40rem;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

/* FLOWER POSITIONING */

.flower {
  position: center;
}

/* NAME */

.first-name, .last-name {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: normal;
  color: #ADD8E6;
  position: fixed;
}

/* SHAPES */

.petal-1, .petal-3, .petal-5 {
  width: 6rem;
  height: 6rem;
  border-radius: 0 50% 50% 50%;
  -moz-border-radius: 0 50% 50% 50%;
  -webkit-border-radius: 0 50% 50% 50%;
  border: 3px solid #FFD8EE;
  margin-top: 20px;
  position: fixed;
}
.petal-2, .petal-4, .petal-6 {
  width: 4rem;
  height: 4rem;
  border-radius: 0 50% 50% 50%;
  -moz-border-radius: 0 50% 50% 50%;
  -webkit-border-radius: 0 50% 50% 50%;
  background-color: #FFD8EE;
  margin-top: 20px;
  position: fixed;
}

.center {
  width: 2rem;
  height: 2rem;
  background-color: #FFC04D;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: fixed;
  z-index: 1;
}

.stem {
  width: 16rem;
  height: 380px;
  border-radius: 60%;
  box-shadow: .5rem .75rem 0 0 #91BF91;
  position: fixed;
}

.leaf {
  width: 5rem;
  height: 100px;
  border-radius: 45%;
  box-shadow: .5rem .75rem 0 0 #91BF91;
  position: fixed;
}

/* PETAL ROTATION */
.petal-1 {
  transform: rotate(-45deg);
}

.petal-2 {
  transform: rotate(-45deg);
}

.petal-3 {
  transform: rotate(135deg);
}

.petal-4 {
  transform: rotate(135deg);
}

.petal-5 {
  transform: rotate(225deg);
}

.petal-6 {
  transform: rotate(225deg);
}

/* INDIVIDUAL POSITIONING */

.petal-1 {
  top: 7.5rem;
  left: 17rem;
}

.petal-2 {
  top: 8.7rem;
  left: 17.5rem;
}

.petal-3 {
  top: 7.5rem;
  left: 6.5rem;
}

.petal-4 {
  top: 8.7rem;
  left: 8.4rem;
}

.petal-5 {
  top: 2.5rem;
  left: 11.75rem;
}

.petal-6 {
  top: 4.45rem;
  left: 12.95rem;
}

.center {
  top: 10.75rem;
  left: 14rem;
}

.stem {
  top: 9rem;
  left: 1rem;
}

.leaf {
  top: 17rem;
  left: 17rem;
}

.first-name {
  top: 22rem;
  left: 8rem;
}

.last-name {
  top: 24.5rem;
  left: 6rem;
}

